<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spinner.css')}}">
    <script src="https://kit.fontawesome.com/6ab48ccb21.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main-container">
        <div id="app-loading" class="loading" style="display: none;">
            <div class="spinner"></div>
            <p>Loading...</p>
        </div>
        {% include 'nav.html' %}
        
        <div class="map-container" style="position: relative;">
            {% include 'weather.html' %}
            <div class="glyph-toggle">
                <div class="glyph-toggle-container">
                    <button style="background-color: transparent;" class="button glyph-button" onclick="updateGlyphs('availableBikes')">
                        <div id="glyph-availableBikes" style="color: #87CEEB" class="button-contents glyph-button-contents">
                            <i class="fa-solid fa-bicycle"></i>
                            <h4>All</h4>
                        </div>
                    </button>
                    <div class="dividerVt"></div>
                    <button style="background-color: transparent;" class="button glyph-button" onclick="updateGlyphs('mechBikes')">
                        <div id="glyph-mechBikes" class="button-contents glyph-button-contents">
                            <i class="fa-solid fa-wrench"></i>
                            <h4>Mech</h4>
                        </div>
                    </button>
                    <div class="dividerVt"></div>
                    <button style="background-color: transparent;" class="button glyph-button" onclick="updateGlyphs('elecBikes')">
                        <div id="glyph-elecBikes" class="button-contents glyph-button-contents">
                            <i class="fa-solid fa-bolt"></i>
                            <h4>Elec</h4>
                        </div>
                    </button>
                    <div class="dividerVt"></div>
                    <button style="background-color: transparent;" class="button glyph-button" onclick="updateGlyphs('parking')">
                        <div id="glyph-elecBikes" class="button-contents glyph-button-contents">
                            <i class="fa-solid fa-square-parking"></i>
                            <h4>Park</h4>
                        </div>
                    </button>
                </div>
            </div>
            <div class="station-search">
                <label class="station-search-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input id="station-input" type="text" oninput="searchSuggestions('station-input','station-suggestions')">
                </label>
                <div class="station-suggestions-container" style="background-color: white;">
                    <div id="station-suggestions">

                    </div>
                </div>
                
            </div>
            <div class="open-search">
                <button onclick="showSearch()" class="open-search-button button button-md"><i class="fa-solid fa-diamond-turn-right"></i></button>
            </div>
            <div class="" id="map" style="height: 100%; width: 100%; z-index: 5;"></div>
            
            {% include 'notification.html' %}
        </div>
    </div>

  <!-- Google Maps API with your API Key -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuARHzyEePZlZtcn0oF2AgAHorlScQuok&loading=async&callback=initMap&libraries=marker">
</script>
<script src="{{ url_for('static', filename='js/spinner.js') }}"></script>

    <script src="{{ url_for('static', filename='js/mapFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    
</body>
</html>