<div class="weather-container">
    <button onclick="toggleWeatherChart()" id="weather-button" class="weather-button"></button>
</div>

<div id="weather-chart-container" class="weather-chart-container">
    <button onclick="closeChart()" class="weather-chart-close"><i class="fa-solid fa-xmark"></i></button>
    <div class="weather-chart-title">
        <h1 style="font-size: 2rem;">Weather Forecast</h1>
    </div>
    <div class="weather-chart">
        <canvas id="weather-chart"></canvas>
    </div>
    <div class="weather-chart-buttons">
        <button onclick="chartWeather()">Temperature</button>
        <button onclick="chartClouds()">Clouds</button>
        <button onclick="chartWind()">Windspeed</button>
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
<script src="{{ url_for('static', filename='js/weather.js') }}"></script>
